################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Orbital Decay/v14/.suo
/.vs/Orbital Decay (clean)/v14/.suo
/bin/Debug/Assembly-CSharp-firstpass.dll
/bin/Debug
/obj/Debug
/Orbital Decay.csproj
/Orbital Decay.csproj.user
/Orbital Decay.sln
Source/DecayManager.cs
Source/VesselData.cs
